<table>
<tr>
<td><h1><img src="/static/windows-small.png"> WINTDC01</h1></td>
<td class="navbar"><a href="/computers/windows/{{host}}/"><img src="/static/info.png"><br>Info</a></td>
<td class="navbar"><a href="/computers/windows/{{host}}/services"><img src="/static/services.png"><br>Services</a></td>
<td class="navbar"><a href="/computers/windows/{{host}}/eventlog"><img src="/static/events.png"><br>EventLog</a></td>
<td class="navbar"><a href="/computers/windows/{{host}}/tools"><img src="/static/tools.png"><br>Tools</a></td>
<td class="navbar"><a href="/computers/windows/{{host}}/network"><img src="/static/world.png"><br>Network</a></td>
<td class="navbar"><a href="/computers/windows/{{host}}/accounts"><img src="/static/users.png"><br>Users & Groups</a></td>
<td class="navbar"><a href="/computers/windows/{{host}}/drives"><img src="/static/drives.png"><br>Drives</a></td>
<td class="navbar"><a href="/computers/windows/{{host}}/logout"><img src="/static/logout.png"><br>Log Out</a></td>
</tr>
</table>
